<ion-card>
  <ion-card-header>
    <ion-card-title>Productos a Retirar</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-item class="item-input">
            <ion-label position="stacked">Producto</ion-label>
            <ion-select [(ngModel)]="seleccion.producto_id" placeholder="Seleccionar..." interface="popover">
              <ion-select-option *ngFor="let p of productos" [value]="p.id">
                {{ p.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item class="item-input">
            <ion-label position="stacked">Cant.</ion-label>
            <ion-input type="number" [(ngModel)]="seleccion.cantidad" min="1"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button expand="block" fill="outline" (click)="agregarItem()" [disabled]="!seleccion.producto_id" class="ion-margin-top">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      Agregar a la Caja
    </ion-button>

    <ion-list *ngIf="itemsRetiro.length > 0" class="ion-margin-top">
      <ion-list-header>
        <ion-label>Resumen de Carga</ion-label>
      </ion-list-header>
      
      <ion-item-sliding *ngFor="let item of itemsRetiro; let i = index">
        <ion-item>
          <ion-label>
            <h2>{{ item.nombre }}</h2>
            <p>SKU: {{ item.sku }}</p>
          </ion-label>
          <ion-badge slot="end" color="dark">{{ item.cantidad }} un.</ion-badge>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="eliminarItem(i)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </ion-card-content>
</ion-card>


