<ion-header>
  <ion-toolbar>
    <ion-title>Crear Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="stacked">Nombre *</ion-label>
    <ion-input [(ngModel)]="nombre" [disabled]="saving"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Código de barras (si no existe, crear SKU)</ion-label>
    <ion-input [(ngModel)]="codigoBarras" [disabled]="saving"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">SKU (opcional)</ion-label>
    <ion-input [(ngModel)]="sku" [disabled]="saving"></ion-input>
  </ion-item>

  <!--  TEXT en BD -->
  <ion-item>
    <ion-label position="stacked">Descripción (opcional)</ion-label>
    <ion-input [(ngModel)]="descripcionTexto" [disabled]="saving"></ion-input>
  </ion-item>

  <!--  JSONB en BD: caracteristicas_especificas -->
  <h3 class="mt">Características del Producto</h3>
  <ion-text class="hint">
    Agrega campos clave/valor (ej: talla=M, color=Rojo).
  </ion-text>

<ion-list>
  <ion-item *ngFor="let row of kv; let i = index" lines="full">
    <ion-grid style="width: 100%;">
      <ion-row>
        <ion-col size="5">
          <ion-label class="kvLabel">Clave</ion-label>
          <ion-input
            placeholder="ej: marca"
            [(ngModel)]="row.key"
            [disabled]="saving">
          </ion-input>
        </ion-col>

        <ion-col size="5">
          <ion-label class="kvLabel">Valor</ion-label>
          <ion-input
            placeholder="ej: ACME"
            [(ngModel)]="row.value"
            [disabled]="saving">
          </ion-input>
        </ion-col>

        <ion-col size="2" class="kvBtnCol">
          <ion-button
            color="danger"
            fill="outline"
            size="small"
            (click)="removeKV(i)"
            [disabled]="saving">
            Quitar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>


  <ion-button
    expand="block"
    fill="outline"
    (click)="addKV()"
    [disabled]="saving"
  >
    + Agregar campo
  </ion-button>

  <ion-text *ngIf="errorMsg" color="danger">
    <p class="error">{{ errorMsg }}</p>
  </ion-text>

  <div class="actions">
    <ion-button expand="block" fill="outline" (click)="close()" [disabled]="saving">
      Cancelar
    </ion-button>

    <ion-button expand="block" (click)="save()" [disabled]="saving || !nombre.trim()">
      {{ saving ? 'Guardando...' : 'Guardar' }}
    </ion-button>
  </div>

</ion-content>

