.mt {
  margin-top: 16px;
}

.hint {
  display: block;
  margin-bottom: 8px;
  opacity: 0.8;
}

.key {
  max-width: 40%;
}

.actions {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.error {
  margin-top: 12px;
}

.kvLabel {
  display: block;
  font-size: 12px;
  opacity: .7;
  margin-bottom: 6px;
}

.kvBtnCol {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
